<mat-toolbar color="primary" class="fixed-header">
	<mat-toolbar-row>
		RC System
		<span>
          <a mat-button 
          href="#" 
          [routerLink]="['/home']" 
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="mat-button-toggle-checked">Home</a>
    </span>
		<span>
          <a mat-button 
          href="#" 
          [routerLink]="['/home/cars']" 
          routerLinkActive="mat-button-toggle-checked">Cars</a>
        </span>
		<span>
          <a mat-button 
          href="#" 
          [routerLink]="['/home/customers']" routerLinkActive="mat-button-toggle-checked">Customers</a>
    </span>
		<span>
        <a mat-button (click)="logout()">Logout</a>
      </span>

		<span class="tool-text">
        Hello - {{getUserName()}}      
          {{currentDate|date: 'MM/dd/yyyy HH:mm:ss'}}
        </span>
	</mat-toolbar-row>
</mat-toolbar>
<main>
	<router-outlet style="margin-top: 80px;"></router-outlet>
</main>

<footer>
	<mat-toolbar color="primary" class="footer">
		<span layout="row" layout-align="center center" flex>
      Another Car Rent System
    </span>
	</mat-toolbar>
</footer>